In [3]:
!aws configure

AWS Access Key ID [None]: ^C

In [2]:
!aws dynamodb scan \
    --table-name viralysisTable1 \
    --output text >table.json

You must specify a region. You can also configure your region by running "aws configure".

In [1]:
!aws dynamodb list-tables

{
    "TableNames": [
        "exampleDB",
        "viralysisTable1"
    ]
}

In [2]:
import pandas as pd

In [4]:
import boto3

dynamodb = boto3.resource('dynamodb')
table = dynamodb.Table('viralysisTable1')

In [11]:
s3 = boto3.resource('s3')
my_bucket = s3.Bucket('www.myexamplewebsite.com')

In [45]:
for file in my_bucket.objects.all():
    print(file.key)

1.html
3.html
ViralAnalysisClient.js
index.html

In [ ]:
viratable = table.scan()
viratable.get('Items')
PandasTable = pd.DataFrame.from_dict(viratable.get('Items'))

In [52]:
data = str('the table have: ' + str(PandasTable.shape[0])+ ' rows to analyse')

In [169]:
data = groupbyTime.to_html()

In [170]:
my_bucket.put_object(Key='index.html', Body=data, ContentType='text/html')

s3.Object(bucket_name='www.myexamplewebsite.com', key='index.html')

In [49]:
str(PandasTable.shape[0])

'271'

In [95]:
[datetime.fromtimestamp(i) for i in PandasTable.time]

TypeError: an integer is required (got type str)

In [114]:
for i in PandasTable.time:
    print(datetime.fromtimestamp(float(i)).strftime("%m/%d/%Y"))

01/31/2020
01/19/2020
01/11/2020
01/08/2020
01/15/2020
01/23/2020
01/26/2020
01/23/2020
02/12/2020
01/23/2020
02/09/2020
01/18/2020
01/11/2020
02/08/2020
02/09/2020
01/23/2020
01/23/2020
02/13/2020
01/23/2020
02/06/2020
01/21/2020
01/23/2020
01/15/2020
02/06/2020
01/19/2020
01/09/2020
01/23/2020
01/23/2020
01/23/2020
01/23/2020
01/31/2020
02/14/2020
02/06/2020
01/11/2020
01/28/2020
01/18/2020
01/08/2020
01/21/2020
01/29/2020
01/25/2020
01/11/2020
01/31/2020
02/05/2020
02/13/2020
02/13/2020
02/04/2020
02/13/2020
01/23/2020
01/16/2020
01/18/2020
01/11/2020
01/23/2020
02/11/2020
01/15/2020
01/22/2020
01/22/2020
01/15/2020
01/15/2020
01/08/2020
01/20/2020
02/10/2020
01/15/2020
01/14/2020
01/10/2020
01/08/2020
02/03/2020
01/19/2020
01/23/2020
02/07/2020
01/19/2020
01/23/2020
02/05/2020
02/09/2020
01/11/2020
01/22/2020
01/23/2020
02/03/2020
02/09/2020
02/12/2020
01/23/2020
01/23/2020
02/13/2020
01/11/2020
01/22/2020
01/23/2020
01/20/2020
01/25/2020
01/23/2020
01/23/2020
02/09/2020
02/14/2020
01/22/2020
01/18/2020
01/23/2020
01/15/2020
01/12/2020
01/15/2020
01/30/2020
02/09/2020
02/14/2020
02/09/2020
02/09/2020
01/22/2020
02/09/2020
01/21/2020
02/09/2020
01/11/2020
01/23/2020
01/11/2020
02/05/2020
02/09/2020
01/09/2020
01/09/2020
01/17/2020
01/23/2020
01/14/2020
01/23/2020
02/11/2020
02/14/2020
01/23/2020
01/23/2020
01/27/2020
01/27/2020
02/14/2020
01/15/2020
02/13/2020
02/08/2020
01/23/2020
01/11/2020
02/08/2020
01/22/2020
01/12/2020
01/23/2020
01/29/2020
01/18/2020
01/30/2020
02/09/2020
01/23/2020
01/28/2020
02/08/2020
02/07/2020
01/11/2020
01/23/2020
02/05/2020
01/23/2020
01/11/2020
01/23/2020
02/09/2020
01/11/2020
01/16/2020
01/10/2020
02/13/2020
01/27/2020
01/15/2020
01/26/2020
01/11/2020
01/23/2020
01/18/2020
02/05/2020
02/09/2020
01/08/2020
01/17/2020
01/23/2020
02/08/2020
01/23/2020
02/14/2020
01/25/2020
01/25/2020
02/09/2020
02/14/2020
02/15/2020
01/27/2020
01/15/2020
01/11/2020
01/23/2020
01/08/2020
01/23/2020
01/22/2020
01/08/2020
01/13/2020
01/22/2020
01/20/2020
01/23/2020
01/23/2020
02/10/2020
01/22/2020
01/30/2020
01/18/2020
01/08/2020
02/13/2020
01/23/2020
01/12/2020
02/15/2020
02/09/2020
01/23/2020
01/21/2020
01/14/2020
01/15/2020
01/18/2020
01/30/2020
01/21/2020
02/12/2020
01/24/2020
01/23/2020
01/11/2020
01/23/2020
01/21/2020
01/13/2020
01/23/2020
01/11/2020
01/08/2020
01/23/2020
02/13/2020
01/19/2020
01/11/2020
01/23/2020
02/12/2020
02/10/2020
01/18/2020
01/23/2020
01/23/2020
01/15/2020
02/11/2020
01/11/2020
01/19/2020
01/10/2020
01/23/2020
01/22/2020
01/11/2020
01/11/2020
01/23/2020
01/15/2020
01/18/2020
01/23/2020
01/10/2020
01/28/2020
01/15/2020
01/15/2020
01/15/2020
01/12/2020
02/03/2020
01/23/2020
01/18/2020
02/10/2020
01/08/2020
01/17/2020
01/28/2020
02/12/2020
01/23/2020
02/09/2020
02/07/2020
02/05/2020
01/09/2020
01/23/2020
01/15/2020
01/23/2020
01/28/2020
02/05/2020
01/08/2020
01/23/2020
02/02/2020
01/16/2020
01/31/2020
01/23/2020
01/23/2020
01/15/2020
01/08/2020
01/15/2020
01/10/2020
02/14/2020
01/11/2020

In [166]:
groupbyTime = PandasTable.groupby('dt_object').count().loc[:, ['body-json']]
groupbyTime.reset_index(inplace=True)

In [167]:
groupbyTime.columns=['Time','Num of enterance']

In [168]:
groupbyTime

          Time  Num of enterance
0   01/08/2020                12
1   01/09/2020                 4
2   01/10/2020                 5
3   01/11/2020                22
4   01/12/2020                 4
5   01/13/2020                 2
6   01/14/2020                 3
7   01/15/2020                20
8   01/16/2020                 3
9   01/17/2020                 3
10  01/18/2020                11
11  01/19/2020                 6
12  01/20/2020                 3
13  01/21/2020                 6
14  01/22/2020                11
15  01/23/2020                59
16  01/24/2020                 1
17  01/25/2020                 4
18  01/26/2020                 2
19  01/27/2020                 4
20  01/28/2020                 5
21  01/29/2020                 2
22  01/30/2020                 4
23  01/31/2020                 4
24  02/02/2020                 1
25  02/03/2020                 3
26  02/04/2020                 1
27  02/05/2020                 7
28  02/06/2020                 3
29  02/07/2020                 3
30  02/08/2020                 5
31  02/09/2020                17
32  02/10/2020                 4
33  02/11/2020                 3
34  02/12/2020                 5
35  02/13/2020                 9
36  02/14/2020                 8
37  02/15/2020                 2

In [117]:
PandasTable['dt_object'] = [datetime.fromtimestamp(float(i)).strftime("%m/%d/%Y") for i in PandasTable.time]

In [55]:
from datetime import datetime
timestamp = 1545730073
dt_object = datetime.fromtimestamp(timestamp)
print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2018-12-25 11:27:53
type(dt_object) = <class 'datetime.datetime'>

In [73]:
d = dt_object.strftime("%m/%d/%Y")

In [113]:
dt_object

datetime.datetime(2018, 12, 25, 11, 27, 53)

In [92]:
import json
data = json.load(open('table.json'))

df = pd.DataFrame(data["result"])

JSONDecodeError: Expecting value: line 1 column 1 (char 0)